// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.ok{
    color: blue !important;
  }
  .cancel{
    color: black !important;
  }

  .ajs-close{
      display: none;
  }

  .ajs-ok{
      background-color: #3085d6 !important;
    color: white !important;
}

.fc-timeline-slot-frame{
  align-items: center !important;
  text-align: center !important;
  align-content: center !important;
  vertical-align: middle !important;
  justify-content: center !important;
}

.jDKmpp{
  padding-right: 0px !important;
}

.page-item.active .page-link {

  border-radius: 20px !important;
  background-color: rgb(3, 3, 15);
  border:none !important;
}


.page-item .page-link {

  border-radius: 20px !important;
 box-shadow: none;
  border:none !important;
  margin:5px;
}



   .page-item.disabled .page-link {

    border-radius: 20px !important;
    font-weight: bold;
    border:none !important;
    
  }

  .pagination{
    align-content: center !important;

    align-items: center !important;
    padding-left: 43%;
  }


  /* Chrome, Safari, Edge, Opera */
Input::-webkit-outer-spin-button,
Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
Input[type=number] {
  -moz-appearance: textfield;
}

.motion{
  position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-iteration-count: infinite;
 animation-fill-mode: both;
 animation-delay: 2s;
}

@keyframes example {
  from {top: 0px}
  to {top: 13px}
}

.ondisable{
  border-color: darkgreen !important;
  background-color: #f8fff2 !important;
}





.NormalColor{
  // border-color: grey;
  // background-color: grey !important;
}


.divelement2 {
 
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-style: solid;
  border-color: #FFFFFF;
  box-shadow: 0 0 8px 3px #B8B8B8;
  position: relative;
}

.divelement2 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.divelement2 i {
  position: absolute;
  top: 20px;
  right: -7px;
  /* border: 1px solid; */
  border-radius: 50%;
  /* padding: 11px; */
  height: 30px;
  width: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: cornflowerblue;
  box-shadow: 0 0 8px 3px #B8B8B8;
}